@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root{
  --h4-color: #867070;
  --h2-color: #D5B4B4;
  --link-color: #867070;
  --sidebar-color: #D5B4B4;
  --background-color: #F5EBEB;
}
body{
   font-family: "Syne Mono", monospace;
}

a{
 color: var(--link-color);
}

/* FOOTER */

footer{
  background: var(--sidebar-color);
  height: auto;
  width: 80%; /* TESTANDO */
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

strong{
    background-color: var(--background-color);
    padding: 0 1px;
    border-radius: 2px;
    color: var(--sidebar-color);
}