@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --title-color: #FFF8EA;
  --link-color: #594545;
  --sidebar-color: #9E7676;
  --background-color: #FFF8EA;
}

.dark-mode:root{
    --title-color: #A78295;
    --link-color: #3F2E3E;
    --sidebar-color: #EFE1D1;
    --background-color: #331D2C;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body{
  font-family: serif;
  font-size: 5px;
  text-transform: uppercase;
  background: var(--background-color);
}

.main{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
align-content: center;
margin: auto;
height: 80vh;
width: 80%;
background: var(--background-color);
}

/* SIDEBAR */

#sidebar{
padding: 0 5px;
width: 20%;
height: 80vh;
background: var(--link-color);
}

p{
  text-align: justify;
  padding: 10px 5px;
  color: grey;
  font-family: "B612 Mono", monospace;
  font-weight: 300;
  text-rendering: auto;
}

/*  */


a, blockquote, h2, p, h4{
  font-family: 'Ubuntu Mono', monospace;
}

a{
 text-decoration: none;
 color: var(--link-color);
}
h2{
color: var(--title-color);
}

h4{
color:var(--link-color);
}
h4, h2{
  margin-bottom: 5px;
  /* width: 200px;
  height: 30px; */
  font-weight: 0;
  letter-spacing: 3px;
  border-left: 2px solid var(--title-color);
  padding-left: 5px;
}


blockquote{
    background: var(--link-color);
    text-align: center;
    margin: 3% auto;
    padding: 5px;
    color: white;
    border-radius: 2px;
    /* border: 1px solid rgb(226, 223, 223); */
    border-bottom: 3px solid var(--title-color);
  }

/* NAV */

#nav-bar{
  text-align: center;
  background: var(--link-color);
  margin: auto;
}

.nav-link{
    color: var(--background-color);
    padding: 0 3px 3px;
    border-bottom: 2px solid var(--background-color);
    font-weight: lighter;
    font-size: 8em;

}
.nav-link:hover{
    color: var(--sidebar-color);
    border-bottom: 3px solid var(--link-color);
}
/* PROJETOS SECTION */

#projetos{
width: 80%;
height: 80vh;
}

.grid{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  height: 60vh;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.faixa{
  width: 100%;
  border: none;
  transition: 0.3s;
  padding-left: 20px;
}

.faixa:hover{
  padding-left: 40px;
  transition: 0.3s;
}

/* MENUZINHO DOS LINKS UTEIS */
.notes a {
  background: #f7f7f7;
  margin: 3px;
  padding: 3px;
  display: block;
  border-radius: 3px;
  text-transform:uppercase;
  font-family : 'Ubuntu Mono';
  -webkit-animation: fadeInDown 4s;
  -moz-animation: fadeInDown 4s;
  -ms-animation: fadeInDown 4s;
  color:#666;
}
.notes a:hover{
  color: var(--link-color);
  opacity:0.8;
}

/* PROJETOS */
.square-project{
  background: white;
  flex-basis: 40%;
  flex-grow: 1;
  height: 45%;
  max-width: 45%;
  align-items: center;
  align-content: center;
}

.square-project, #me{
  opacity: 0.5;
  transition: 0.8s;
  border-radius: 3px;
}

.square-project:hover, #me:hover{
  opacity: 0.7;
}

/* FOOTER */

footer{
  background: var(--link-color);
  height: auto;
  width: 80%;
  margin: auto;
  padding: 15px;

  /* display: flex;
  flex-direction: column;
  align-content: center; */
}

#me{
  /* border-radius: 50%; */
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  border: 4px solid rgba(104, 112, 133, 0.515);
}
